html {
    min-height: 100%;
    width: 100%;
    height: 100%;
    background-color: #C4E7D4;
    display: block;
    position: relative;
    font-family: sans-serif;
    box-sizing: border-box;
    font-size: 16px;
}

#header {
    display: block;
    box-sizing: content-box;
    left: 0;
    top: 0;
    background-color: #5A5056;
    align-items: baseline;
    box-sizing: content-box;
    padding: 10px;
    position: absolute;
    /* position: sticky; */
    width: 100%;
    border: 5px solid #5A5056;
    box-shadow: 2px 4px 10px 4px rgb(102, 153, 153);
}

.link {
    color: rgb(58, 82, 85);
    font-size: 20px;
}

.title {
    padding: 18px 24px;
    color: rgba(85, 80, 80, 0.89);
    font-weight: bolder;
    text-transform: capitalize;
    text-align: center;
}

body {
    margin: 25px 50px;
    text-decoration-color: white;
    display: inline-block;
    font-size: 14px;
    font-stretch: 100%;
    line-height: 22.4px;
    min-height: 550px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 25px;
}

main {
    display: inline-block;
    position: relative;
    width: 70%;
    align-content: center;
    align-items: center;
    top: 50px;
    box-sizing: border-box;
}

#padding-main {
    display: block;
    position: relative;
    align-content: center;
    padding: 18px 24px;
    color: #242023;
}

nav ul {
    padding: 0;
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 15px;
}

nav ul li a {
    padding: 5px 10px;
}

nav.link-right {
    color: rgb(8, 35, 39);
    text-align: center;
    border-width: 1px;
    margin-right: 1ch !important;
    text-decoration: none;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    vertical-align: baseline;
    float: right !important;
}

.link-right {
    border: 1px solid rgb(4, 22, 22);
    background-color: #C4DACF;
    font-weight: bold;
    font-size: 20px;
    text-decoration-color: white;
    text-decoration-line: none;
    text-decoration-style: none;
    display: inline-flex;
    float: right;
    color: #1B181A;
}

.link-left {
    border: 1px solid rgb(4, 22, 22);
    background-color: #C4DACF;
    font-weight: bold;
    font-size: 20px;
    text-decoration-color: white;
    text-decoration-line: none;
    text-decoration-style: none;
    display: inline-flex;
    align-items: flex-start;
    color: #1B181A;
}

nav.link-left {
    color: rgb(8, 35, 39);
    display: inline-flex;
    float: left !important;
    flex-direction: row;
    align-items: flex-start;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    height: 72px;
    /* justify-content: flex-start; */
    line-height: 22.4px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    box-sizing: border-box;
    align-items: center;
    padding-top: 12px;
    text-decoration: none;
    vertical-align: baseline;
}

.table-head {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

th,
td {
    text-align: justify;
    padding: 15px;
}

table,
th,
td {
    border: 2px solid #242023;
}

.block-margin-template {
    display: inline;
}

.form-template {
    display: inline-block;
    padding: 0px 0px;
}

#footer {
    position: absolute;
    left: 0;
    margin-bottom: 0;
    bottom: 0;
    padding: 10px;
    height: 100px;
    width: 100%;
    box-sizing: content-box;
    display: block;
    background-color: #5A5056;
    border: 5px solid #5A5056;
    box-shadow: 10px 4px 10px 4px rgb(102, 153, 153);
    color: rgb(200, 206, 203);
    font-weight: bold;
    font-size: 20px;
}