<!DOCTYPE html>
<html>

<head>
    <title>{{base_title}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='test.css') }}" />
</head>

<body>
    <div id="body-content">
        <div id="header">
            <nav id="floating-bar">
                <ul id="user-account">
                    <li><a class='link-right' href="/login">Login</a></li>
                    <li><a class='link-right' href="/logout">Logout</a></li>
                </ul>
                <ul id="user-actions">
                    <li><a class='link-left' href="/">Home</a></li>
                    <li><a class='link-left' href="/blog">Posts</a></li>
                    <li><a class='link-left' href="/new_post">New_Post</a></li>
                </ul>
            </nav>
        </div>
        <main>
            <div id="padding-main">
                {% block content %} {% endblock %}
            </div>
        </main>

        <footer>
            <div id="footer">
                <p>© 2017 Julie Hutchinson</p>
            </div>
        </footer>
    </div>
</body>

</html>