<!DOCTYPE html>
<html>

<head>
    <title>{{base_title}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='test.css') }}" />
</head>

<body>
    <div id="user-menu" class="padding-user-menu">
        <div class="padding-margin">
            <nav class="float-right">
                <nav id="user-account">
                    <a class='link-right' href="/login">Login</a>
                    <a class='link-right' href="/logout">Logout</a>
                </nav>
                <nav id="user-actions">
                    <a class='link' href="/">Home</a>
                    <a class='link' href="/blog">Posts</a>
                    <a class='link' href="/new_post">New_Post</a>
                </nav>
            </nav>
        </div>
        <main>
            <div class="container">
                {% block content %} {% endblock %}
            </div>
        </main>

        <footer>
            <p>© 2017 Julie Hutchinson</p>
        </footer>
    </div>
</body>

</html>