{% extends "base.html" %} 

{% block content %}
    <h1 class="title">Blog Posts</h1>
    <ul>
        {% for blog in blogs %}
        <li><a class='link' href="/blog?id={{blog.id}}">{{blog.title}}</a></li>
        <p>{{ blog.body }}</p>
        <hr>
            {% for name in users %}
                {% if name.id == blog.owner_id %}
                    <br/>
                <li><p class="post-author">written by: <a href="/blog?user={{name.username}}">{{name.username}}</a> @ {{blog.date}}</p></li>
                <hr />
                {% endif %}
            {% endfor %}
        {% endfor %}
    </ul>

{% endblock %}