{% extends "base.html" %} {% block content %}
<h1 class="title"> Add a new entry</h1>

<h2>Add a new post:</h2>
<form method='POST' action='/blog'>
    <label><p>Title for your new blog:</p>
            <input type="text" name="blog_title" />
            </label><br/> {% with messages = get_flashed_messages(with_categories=True,category_filter=["error1"]) %} {% for category,message in messages %}
    <div class="{{category}}">• {{message}}</div>
    {% endfor %} {% endwith %}
    <br/>

    <label><p>Your new blog:</p>
        <textarea name="blog_body"></textarea>
        </label> {% with messages = get_flashed_messages(with_categories=True,category_filter=["error2"]) %} {% for category,message in messages %}
    <div class="{{category}}">• {{message}}</div>
    {% endfor %} {% endwith %}
    <br/>
    <input type="submit" value="Add Entry" />
</form>

{% endblock %}